.page {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0px 20px 60px 20px;
}

.bg-light {
    background-color: transparent!important;
}

#preview {
    display: none;
}

nav {
    margin-bottom: 40px;
    padding: 20px 0px 0px 0px!important;
}

h1 {
    margin-bottom: 20px;
}

body {  
    background-color: #f1f1f1;
}

.label{
    font-size: 1rem;
}

#data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

@media only screen and (max-width: 600px) {
    #data {
        grid-template-columns: repeat(1, 1fr);
    }
  }